* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  width: 100%;
}

.header {
  height: 40px;
  margin: 0 auto;
  display: flex;        
  justify-content: space-between; 
  align-items: center;  
  padding: 0 20px;
  background-color: white;  
}

a{
  text-decoration-line: none;
}

.forder{
    height: 200px;
  margin: 0 auto;       
  justify-content: space-between; 
  align-items: center;  
  padding: 0 20px;
  background-color: rgb(236, 199, 139);  
}

